<h3>Add new Question</h3>
<%= form_for [@question] do |f| %>
  <%= f.text_field :title, placeholder: "Add a Title", class:'form-control', required: true%><br/>
  <%= f.text_area :description, placeholder: "Add a Description", class: 'form-control' %><br/>
  <%= f.submit "Post" ,class: "btn btn-primary" %>
<% end %>